<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="./assets/GN03CC.zip" >下载app</a>
  </body>
  <script>
    function Per(name) {
      this.name = name
    }
    function Person() {
      Per.call(this, 'zsj')
      this.age = 18
    }
    let you = new Per('章三')
    let me = new Person()
    console.log(me, you)
    const arr = [1, 2, 3, 4, 45, 6, 2]
    console.log(
      arr.sort(function (a, b) {
        return a - b
      })
    )
    console.log(
      Person.prototype,
      Person.__proto__,
      me.__proto__,
      Object.prototype
    )
  </script>
</html>
